body {font-family: "Lato", sans-serif;}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

 
 


#Curly {background-image:url("https://i.pinimg.com/originals/83/d1/a5/83d1a5cce36d3e2780f049272008e4ff.jpg");}
#Coily{background-image:url("https://data.whicdn.com/images/313477907/large.jpg");}
#Straight{background-image: url();}
#Wavy{background-color:blue;}