body {
  background-color:#edb9eb ;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

h1 {
  color: black;
  margin-left: 20px;
}

h2 {
	color:#fae4d2;
	margin-left: 20px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
}