<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="coily.css">
</head>

<body>
	<img src="logo.png" alt="hairified logo" class="center">
	<h1> Type 4a-4c </h1>
     <h1> <ul> 
    	<li> 4A Curly/Coily - has many short s patterns </li> 
    	<li> 4B Forms tight Z patterns  </li>
    	<li> 4C Many show little to no curl pattern at all </li>

    </ul> </h1>
    <h2> You have coily/kinky hair, which is type 4a-4c! Below we have a washing and styling routine for moisturizing and defining your curly/coily hair!</h2>
    <hr>
    <h1> Type 4A-4B </h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ntV-ZfW7J7o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <hr>
    <h1> Now we have another hair routine that shows more coily hair, also known as type 4c hair!</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/oAJ_Kwx4jN4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <hr>
    <h1> Here are some tips to caring for type 4 hair: </h1>
    <h2> <ul> 
    	<li> Choose thick cream based products to help hydrate and style your hair </li> 
    	<li> Have fun with your hair type! </li>
    </ul> </h2>
    <hr>
     <h1> Products for Coily/Kinky Hair </h1>
  

</body>

</html>