<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="curly.css">
</head>

<body>
	<img src="logo.png" alt="hairified logo" class="center">
	<h1> Type 3a-3c </h1>
     <h1> <ul> 
    	<li> 3A Stretched and coopy curls </li> 
    	<li> 3B Rounded Bodyful curls</li>
    	<li> 3C Tighter corkscrew curls - includes lots of volume </li>

    </ul> </h1>
    <h2> You have curly hair, which is type 3a-3c! Now, below we have two videos which are a wavy/curly hair routine and a very curly hair routine because at hairified we have noticed that hair types 3a-3b usually have a mix between curly and wavy hair and type 3c has very curly hair. </h2>

    <h1> Type 3a-3b routine </h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/HszBf-CJeVE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h1> Type 3c routine </h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Efzu59miBMM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h1> Tips for caring for 3a-3c hair: </h1>
    <h2> <ul> 
    	<li> Hydrate your strands often with an organic based conditioner to prevent tangles and excessive dryness  </li>
    </ul> </h2>

</body>

</html>