<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
	<link rel="stylesheet" type="text/css" href="styles/style.css">
	<title>Main Page</title>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>



</body>
</html>






<div id="Home" class="tabcontent">
  <h1>Home</h1>
  <p>Home page</p>
</div>
	
  <div id="Quiz" class="tabcontent">
  <h1>Quiz</h1>
  <p>Quiz</p>
</div>

	<div id="Curly" class="tabcontent">
  <h1>Curly</h1>
  <p>Proteins such as keratins tend to build up unevenly in curly hair, collecting in the curve of your hair, make it curl even more.</p>
</div>

<div id="Coily" class="tabcontent">
  <h1>Coily/kinky</h1>
  <p>“Kinky” describes the curl pattern/type of hair, like curly or wavy and in this case, kinky hair means tightly curled hair or really tight coiled hair or hair with no curls but zigzags instead. “Coarse” or “fine” describes the thickness/texture of hair strands.</p> 
</div>

<div id="Straight" class="tabcontent">
  <h1>Straight</h1>
  <p>People with straight hair have symmetrical follicles that grow round hair rather than oval hair.</p>
</div>

<div id="Wavy" class="tabcontent">
  <h1>wavy</h1>
  <p> the texture of hair also is dependent on the shape of the hair shaft.   Follicles that are round in cross-section give rise to straight hair.   Those out of which curly hair grows are oval. .</p>
</div>

<div id="Products" class="tabcontent">
  <h1>Products</h1>
  <p> Products we recommend</p>
</div>


<div id="Hairstyles" class="tabcontent">
  <h1>Hairstyles</h1>
  <p> Hairstyles we recommend</p>
</div>


<div id="Edges" class="tabcontent">
  <h1>Edges</h1>
  <p> Edges</p>
</div>

<div id="About" class="tabcontent">
  <h1>about us</h1>
  <p> about me us thingzz</p>
</div>





<button class="tablink" onclick="openCity('Home', this, 'pink')"id="defaultOpen">Home</button>
<button class="tablink" onclick="openCity('Quiz', this, 'pink')" >Quiz</button>
<button class="tablink" onclick="openCity('Curly', this, 'pink')" >Curly</button>
<button class="tablink" onclick="openCity('Coily', this, 'pink')">Coily</button>
<button class="tablink" onclick="openCity('Straight', this, 'pink')">Straight</button>
<button class="tablink" onclick="openCity('Wavy', this, 'pink')">Wavy</button>

<button class="tablink" onclick="openCity('Products', this, 'pink')">Products</button>

<button class="tablink" onclick="openCity('Hairstyles', this, 'pink')">Hairstyles</button>


<button class="tablink" onclick="openCity('Edges', this, 'pink')">Edges</button>
<button class="tablink" onclick="openCity('About', this, 'pink')">About Us</button>




<script src="js/script.js"></script>



<br>
<br>
<br>

<h1 id = "hairifiedHeader" class="Home">Hairified</h1>



</head>
<body>










