
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <link rel="stylesheet" type="text/css" href="styles/style.css">
  <title>Main Page</title>

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>




<div id="Home" class="tabcontent">
  
</div>
  
  <div id="Quiz" class="tabcontent">
  
</div>

  <div id="Curly" class="tabcontent">
  
</div>

<div id="Coily" class="tabcontent">
   
</div>

<div id="Straight" class="tabcontent">
  
</div>

<div id="Wavy" class="tabcontent">

  
</div>

<div id="Products" class="tabcontent">
  
</div>


<div id="Hairstyles" class="tabcontent">
  
</div>


<div id="Edges" class="tabcontent">
 
</div>

<div id="About" class="tabcontent">
  

</div>

<button class="tablink" onclick="openCity('Home', this, 'pink')"id="defaultOpen">Home</button>
<button class="tablink" onclick="openCity('Quiz', this, 'pink')" >Quiz</button>
<button class="tablink" onclick="openCity('Curly', this, 'pink')" >Curly</button>
<button class="tablink" onclick="openCity('Coily', this, 'pink')">Coily</button>
<button class="tablink" onclick="openCity('Straight', this, 'pink')">Straight</button>
<button class="tablink" onclick="openCity('Wavy', this, 'pink')">Wavy</button>

<button class="tablink" onclick="openCity('Products', this, 'pink')">Products</button>

<button class="tablink" onclick="openCity('Hairstyles', this, 'pink')">Hairstyles</button>


<button class="tablink" onclick="openCity('Edges', this, 'pink')">Edges</button>
<button class="tablink" onclick="openCity('About', this, 'pink')">About Us</button>







<br>
<br>
<br>
<h1 id = "hairifiedHeader" class="Home">Hairified</h1>





<script src="js/script.js"></script>
</body>
</html>
