<!DOCTYPE html>
<html>
<head>
	<title>Sign-up</title>
	<link rel="stylesheet" type="text/css" href="/stylez/style2.css">
</head>
<body>
<div class ="title">
		<h1> Welcome to Harified!</h1>


		<a href="logo.jpeg"></a>
	<div class = "login-page">
	<div class = "form">
		<form class ="sign-up">
		<input type= "text" placeholder="Username"/>
		<input type= "text" placeholder="Password"/>
		<input type= "text" placeholder="Email"/>	
		<button formaction="/login">Create</button>
		<p class ="message"> Already have an account? <a href = "#">Login</a> </p>
		</form>

		</div>
		</div>
</body>
</html>