<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="straight.css">
</head>

<body>
	<img src="logo.png" alt="hairified logo" class="center">
	<h1> Type 1 hair </h1>
     <h1> <ul> 
    	<li> No evidence of a curl pattern or hair texture </li> 
    	<li> Naturally straight not a lot of heat needed </li>
    </ul>
    <h2> You have straight hair, which is type 1! Watch the video below which we have carefully picked to see a hair routine you can try out to care for your beautiful straight hair </h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/VnMTQYSeIqk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <h1> Tips to caring for straight hair: </h1>
    <h2> <ul> 
    	<li> Use a light and organic styler that doesn't weigh your hair down </li> 
    	<li> Scrunch the product in for the perfect lift </li>
    	
    </ul>
</h2>

</body>

</html>