body {
  margin: 100;
  padding:100;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  line-height: 1.7rem; 
  background-image: url("../images/222.jpg");
  background-size: 800% 800%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.Type{
  color: pink;
}

.hard{
  color: white;
}


.button {
  background-color:black;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 10px;
  font-size: 40px;
  width: 200px;
font-family: 'Kaushan Script', cursive;

}

.button:hover {
  background-color: #777;
}

/* Style the tab content */
.tabcontent {
  color: white;
  display: none;
  padding: 150px;
  text-align: center;
  height: 200px;
  width: 100%;
}



.home { 
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: left;
  float:left;
  }
 .Hair {font-family: 'Kaushan Script', cursive;
}



.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
 position:absolute;
left:0;
top:0;
}



#Curly {
  background-image:url("https://i.pinimg.com/originals/83/d1/a5/83d1a5cce36d3e2780f049272008e4ff.jpg");
  background-size: auto;
}
#Coily{background-image:url("https://data.whicdn.com/images/313477907/large.jpg");
  height: 200px;
  width: 100%;
}
#Straight{background-image: url("https://i.pinimg.com/originals/a5/0b/8c/a50b8c9cedf7185a17855431398e677e.jpg");}

#Wavy{background-image:url("https://juanestebanrios.com/wp-content/uploads/haircuts-for-naturally-wavy-hair-medium-curly-hairstyles-2016.jpg")

}
#Products {background-image:url("https://curlsunderstood.com/wp-content/uploads/2015/11/curls-understood-natural-hair-products-under-5.png");}
#Hairstyles{background-image:url("https://i.pinimg.com/originals/b9/63/b2/b963b2f4566438e9ac20be3bfecfe666.jpg");}
#Edges {background-image:url("https://i.pinimg.com/originals/b7/e6/da/b7e6da0aeb48537706ffe91f15c25f6b.jpg");}
#About {background-image:url("../images/IMG_2434.JPG");

background-size: 50% 50%;
   background-repeat: no-repeat;
  



}






#Home {
   background-image: url("../images/wow.PNG");
   background-size: 900px 900px;
   background-repeat: no-repeat;
   background-position: center; 
 






}
#About{background-color:pink}
#Quiz {background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlgsBEpGoyfHUvb9V9L70pLBZO06myXSDXI6XXoN-J2ynxNb4Pog");
background-size: 100% 100%;
background-repeat: no-repeat;
 




}

#hairifiedHeader{ 
  /*margin-left: auto;*/
  margin-right: auto;
  font-family: 'Satisfy', cursive;
  font-size: 900%   ;
 }









